.vscode/
workspace
.idea/
# build output
/hive
/hivechain
/hiveview

# build output for rust simulators and hivesim-rs files
simulators/**/target
hivesim-rs/Cargo.lock
hivesim-rs/target

# Local client symlinks for ETC builds
clients/core-geth/core-geth
clients/besu-etc/besu
clients/fukuii/fukuii-client
